<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>cmc favorite coins</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        span {
            display: inline-block;
            vertical-align: middle;
            padding: 4px;
        }
    </style>
</head>
<body>

<div class="container">
    {{! Every view gets inserted here }}
    {{{content}}}
</div>

</body>
</html> 